.titlecards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.titlecards h2{
    margin-bottom: 8px
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card{
     /* width: 240px; 
     height: 135px; */
        background: black; 
}
.card-list img{
    /* width: 100%;
    height: 100%; */
    width: 240px; 
     height: 135px;
    border-radius: 4px;
    cursor: pointer;
    object-fit: contain;
    /* object-position: top; */
    /* object-position: bottom; */
}
.card-list .card{
    position: relative;
}
.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}